<div *ngFor="let item of data?.items">
        <div class="card">
            <img src="{{item.productPhotoUrl || './assets/user.png'}}"  class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Name:</strong>
                    <p>{{item.productName}}</p>
                </div>
                <div>
                    <strong>Price:</strong>
                    <p>{{item.productPrice}}</p>
                </div>
            </div>
           
            <!-- <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-success" (click)="removeItem(item.id)">Remove Item</button>
                </div>
            </div> -->
        </div>
    </div>
<div>
    <h3>
        Total Price: {{data?.totalPrice}}
    </h3>
</div>

<div class="card-footer">
    <div class="btn-group d-flex">
        <button class="btn btn-success" (click)="buy()">Buy Now</button>
    </div>
</div>