<div class="text-center mt-3">
    <h2>Your matches - {{pagination?.totalItems}} found</h2>
</div>

<div class="container mt-3" *ngIf="productParams">
    <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadProducts()"
        autocomplete="off">
        <div class="d-flex mx-2">
            <label class="col-form-label">Price from: </label>
            <input 
                type="number" 
                class="form-control ms-1" 
                style="width: 70px;"
                name="minAge" 
                [(ngModel)]="productParams.minPrice">
        </div>
        <div class="d-flex px-2">
            <label class="col-form-label">Price to: </label>
            <input 
                type="number" 
                class="form-control ms-1" 
                style="width: 70px;"
                name="maxAge" 
                [(ngModel)]="productParams.maxPrice">
        </div>

        <div class="d-flex px-2">
            <label class="col-form-label">Search by Name: </label>
            <input 
                type="text" 
                class="form-control" 
                placeholder="Search by name" 
                name="searchTerm" 
                [(ngModel)]="productParams.searchTerm">
        </div>

        <button class="btn btn-primary ms-1" type="submit">Apply Filters</button>
        <button (click)="resetFilters()" class="btn btn-info ms-1" type="submit">Reset Filters</button>
        <!-- <div class="col">
            <div class="btn-group float-end">
                <button 
                    type="button"
                    class="btn btn-primary" 
                    name="orderBy" 
                    (click)="loadProducts()"
                    btnRadio="lastActive"
                    [(ngModel)]="productParams.orderBy">Last Added</button>
                <button 
                    type="button"
                    class="btn btn-primary" 
                    name="orderBy" 
                    (click)="loadProducts()"
                    btnRadio="created"
                    [(ngModel)]="productParams.orderBy">Newest products</button>
            </div>
        </div>  -->
    </form>
</div>

<div class="row">
    <div class="col-2" *ngFor="let product of products">
        <div class="card mb-4" *ngIf="product">
            <div class="card-img-wrapper">
                <img src="{{product.productPhotoUrl || './assets/user.png'}}" class="card-img-top">
                <ul class="list-inline member-icons animate text-center">
                    <li class="list-inline-item">
                        {{product.id }}
                        <button  class="btn btn-primary" (click)="addItemToCart(product.id)"><i class="fa fa-shopping-cart"></i></button>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn btn-primary" (click)="addProductLike(product)"><i class="fa fa-heart"></i></button>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn btn-primary"><i class="fa fa-envelope"></i></button>
                    </li>
                </ul>
            </div>
            <div class="card-body p-1" routerLink="/products/{{product.name}}">
                <h6 class="card-title text-center mb-1"><i class="fa fa-user me-2"></i>
                    {{product.name}}
                </h6>
                <p class="card-text text-muted text-center">{{product.price}}</p>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center"  *ngIf="pagination">
    <pagination 
        [boundaryLinks]="true" 
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"  
        nextText="&rsaquo;" 
        firstText="&laquo;"
        lastText="&raquo;">
    </pagination>
</div>