<div class="row">
    <div class="col-2" *ngFor="let product of products">
        <div class="card mb-4" *ngIf="product">
            <div class="card-img-wrapper">
                <img src="{{product.productPhotoUrl || './assets/user.png'}}" class="card-img-top">
                <ul class="list-inline member-icons animate text-center">
                    <li class="list-inline-item">
                        <button  class="btn btn-primary" (click)="addItemToCart(product.id)"><i class="fa fa-shopping-cart"></i></button>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn btn-primary"><i class="fa fa-heart"></i></button>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn btn-primary"><i class="fa fa-envelope"></i></button>
                    </li>
                </ul>
            </div>
            <div class="card-body p-1" routerLink="/products/{{product.name}}">
                <h6 class="card-title text-center mb-1"><i class="fa fa-user me-2"></i>
                    {{product.description}}
                </h6>
                <p class="card-text text-muted text-center">{{product.price}}</p>
            </div>
        </div>
    </div>
</div>