<div class="text-center mt-3">
    <h2>{{predicate === 'liked' ? 'Products I Like' : 'Members who like me'}}</h2>
</div>

<div class="container mt-3">
    <!-- <div class="d-flex">
        <div class="btn-group" name="predicate">
            <button class="btn btn-primary" btnRadio="liked" [(ngModel)]="predicate" (click)="loadLikes()">Members I like</button>
            <button class="btn btn-primary" btnRadio="likedBy" [(ngModel)]="predicate" (click)="loadLikes()">Members who like me</button>
        </div>
    </div> -->

    <div class="row mt-3">
        <div class="col-2" *ngFor="let product of products">
            <div class="card mb-4" *ngIf="product">
                <div class="card-img-wrapper">
                    <img src="{{product.productPhotoUrl || './assets/user.png'}}" alt="{{product.name}}" class="card-img-top">
                    <ul class="list-inline member-icons animate text-center">
                        <li class="list-inline-item">
                            <button routerLink="/products/{{product.id}}" class="btn btn-primary"><i class="fa fa-user"></i></button>
                        </li>
                        <!-- <li class="list-inline-item">
                            <button (click)="addProductLike(product)" class="btn btn-primary"><i class="fa fa-heart"></i></button>
                        </li> -->
                        <li class="list-inline-item">
                            <button class="btn btn-primary"><i class="fa fa-envelope"></i></button>
                        </li>
                    </ul>
                </div>
                <div class="card-body p-1">
                    <h6 class="card-title text-center mb-1"><i class="fa fa-user me-2"></i>
                        {{product.name}},
                    </h6>
                    <p class="card-text text-muted text-center">{{product.price}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination"> 
    <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        [maxSize]="10"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
    </pagination>
</div>










<div class="text-center mt-3">
    <h2>{{predicate === 'liked' ? 'Members I like' : 'Members who like me'}}</h2>
</div>

<div class="container mt-3">
    <div class="d-flex">
        <div class="btn-group" name="predicate">
            <button class="btn btn-primary" btnRadio="liked" [(ngModel)]="predicate" (click)="loadLikes()">Members I like</button>
            <button class="btn btn-primary" btnRadio="likedBy" [(ngModel)]="predicate" (click)="loadLikes()">Members who like me</button>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-2" *ngFor="let member of members">
            <div class="card mb-4" *ngIf="member">
                <div class="card-img-wrapper">
                    <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}" class="card-img-top">
                    <ul class="list-inline member-icons animate text-center">
                        <li class="list-inline-item">
                            <button routerLink="/members/{{member.username}}" class="btn btn-primary"><i class="fa fa-user"></i></button>
                        </li>
                        <!-- <li class="list-inline-item">
                            <button (click)="addLike(member)" class="btn btn-primary"><i class="fa fa-heart"></i></button>
                        </li> -->
                        <li class="list-inline-item">
                            <button class="btn btn-primary"><i class="fa fa-envelope"></i></button>
                        </li>
                    </ul>
                </div>
                <div class="card-body p-1">
                    <h6 class="card-title text-center mb-1"><i class="fa fa-user me-2"></i>
                        {{member.knownAs}}, {{member.age}}
                    </h6>
                    <p class="card-text text-muted text-center">{{member.city}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination"> 
    <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        [maxSize]="10"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">
    </pagination>
</div>