<div class="row" *ngIf="product">
    <div class="col-4">
        <div class="card">
            <img src="{{product.productPhotoUrl || './assets/user.png'}}" 
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <!-- <div>
                    <strong>Location:</strong>
                    <p>{{product.city}}, {{product.country}}</p>
                </div> -->
                <div>
                    <strong>Name:</strong>
                    <p>{{product.name}}</p>
                </div>
                <!-- <div>
                    <strong>Last active:</strong>
                    <p>{{product.lastActive}}</p>
                </div> -->
                <div>
                    <strong>product price:</strong>
                    <p>{{product.price}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Add to cart+</button>
                    <button class="btn btn-success">Message</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="product-tabset">
            <tab heading="About {{product.name }}">
                <h4>Description</h4>
                <p>{{product.description}}</p>
                <h4>Price</h4>
                <p>{{product.price}}</p>
            </tab>
            <tab heading="Photos" #photoTab="tab">
                <div *ngFor="let photo of product.productPhotos" >
                    <img src="{{photo.url}}" alt="" class="card-img-top img-thumbnail">
                </div>
            </tab>
            <tab heading="Messages">
                <p>Messages will go here</p>
            </tab>
            <tab heading="Edit Photos">
                <app-product-photo-editor [member]="product"></app-product-photo-editor>
            </tab>
        </tabset>
    </div>
</div>